/*----------------------------------------
[Table of contents]
1. My color
2. Font
3. Common styles
4. Sidebar
5. Header
----------------------------------------*/
/*==============================
    1. My color
==============================*/
:root {
    --primary-color: #0075ff;
    --bg-sidebar-color: #1c2a49;
    --bg-playlist-color: #223c75;
    --bg-content-color: #101f3f;
    --font-color: #ecedf0;

}
/*==============================
	2. Fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Inter:wght@400;500&display=swap");
/*==============================
	3. Common styles
==============================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name--title {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.removeElement {
    display: none;
}

.flexElement {
    display: flex;
}

.css-low-brightness {
    filter: brightness(60%);
}

.container-fluid > h1 {
    color: white; 
    font-size: 60px; 
    margin-top: 24px; 
    margin-bottom: 24px
}

@media screen and (max-width: 576px) {
    .container-fluid > h1 {
        font-size: 40px;
    }
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: var(--bg-content-color);
    -webkit-font-smoothing: antialiased;
}

body::-webkit-scrollbar  {
    width: 10px;
    background-color: var(--bg-playlist-color);
}
body::-webkit-scrollbar-thumb  {
    width: 10px;
    border-radius: 4px;
    background-color: var(--font-color);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
}

a:hover, a:active, a:focus {
    outline: none;
    text-decoration: none;
}

input, textarea, select {
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-shadow: none;
    transition: 0.5s ease;
    transition-property: color, background-color, border-color, box-shadow;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/*==============================
    4. Sidebar
==============================*/
#sidebar {
    position: fixed;
    width:  16.6666%;
    height: 100%;
    z-index: 20;
    background-color: var(--bg-sidebar-color);
    color: var(--font-color);
}

.sidebar__logo {
    display: flex;
    align-items: center;
    height: 80px;
}

.sidebar__logo--big {
    width: 80%;
    margin-left: 10%;
}

.sidebar__logo--small {
    display: none;
}

.sidebar__nav-item {
    display: flex;
}

.sidebar__nav-item a {
    display: flex;
    align-items: center;
    padding-left: 40px;
    width: 100%;
    height: 44px;
    line-height: 44px;
    color: var(--font-color);
}

.sidebar__nav-item a:hover {
    background-color: #3f5472;
}

.sidebar__nav-item a i {
    display: flex;
    align-content: center;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    font-size: 24px;
}

.sidebar__nav-item--active {
    background-color: var(--primary-color);
}

.sidebar__vip {
    margin-top: 20px;
}

.sidebar__vip img {
    display: block;
    width: 80%;
    border-radius: 15px;
    margin: auto;
}

@media screen and (max-width: 992px) {
    #sidebar {
        width: 10%;
    }

    .sidebar__nav-item a span {
        display: none;
    }

    .sidebar__logo--big {
        display: none;
    }
    
    .sidebar__logo--small {
        display: block;
        width: 80%;
        margin-left: 10%;
    }

    .sidebar__nav-item {
        text-align: center;
    }

    .sidebar__nav-item a {
        justify-content: center;
        width: 100%;
        height: 52px;
        padding-left: 0;
        line-height: 52px;
        color: var(--font-color);
    }

    .sidebar__nav-item a i {
        margin-right: 0;
    }

    .sidebar__vip {
        display: none;
    }
}
/*==============================
    5. Header
==============================*/
#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 16.6666%;
    height: 80px;
    width: 83.3333%;
    padding-left: 20px;
    color: var(--font-color);
}

.header__search {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 12px;
    padding-right: 12px;
    background-color: #283653;
    border-radius: 8px;
}

.header__search input {
    width: 90%;
    height: 40px;
    padding-left: 20px;
    background-color: #283653;
    border-radius: 15px;
    line-height: 40px;
    color: var(--font-color);
}

.header__search input::placeholder {
    color: #cbcccf;
}

.header__search button i {
    color: var(--font-color);
    margin-top: 2px;
    font-size: 24px;
}

.header__actions {
    display: flex;
    column-gap: 16px;
    padding-right: 32px;
}

.header__action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100px; */
    padding-left: 8px;
    padding-right: 8px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--font-color);
}

@media screen and (max-width: 992px) {
    #header {
        left: 10%;
        width: 90%;
    }

    .header__actions {
        padding-right: 8px;
        column-gap: 4px;
    }

    .header__action-btn {
        padding-left: 4px;
        padding-right: 4px;
        height: 40px;
        font-size: 12px;
    }

    .header__search input {
        padding-left: 8px;
        font-size: 14px;
    }
}
/*==============================
    6. Player
==============================*/
#player {
    position: fixed;
    z-index: 25;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: var(--font-color);
    background-color: #0d1932;
}

#player .button--pause {
    display: none;
}

#player.playing .button--pause {
    display: flex;
}

#player.playing .button--play {
    display: none;
}

.player__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0;
    height: 80px;
    padding-left: 12px;
}

.player__info--track {
    display: flex;
    align-items: center;
    height: 100%;
}

.player__info img {
    width: 60px;
    border-radius: 50%;
}

.player__track {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 200px;
}

.player__title {
    white-space: nowrap; 
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.player__artists {
    white-space: nowrap; 
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.player__control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.player__control--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 4px;
    color: var(--font-color);
}

.control--button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.button--toggle {
    width: 40px;
    height: 40px;
}

.control--button:hover {
    background-color: var(--bg-sidebar-color);
    border-radius: 50%;
    cursor: pointer;
}

.control--button__active {
    color: var(--primary-color);
}

.player__control--range {
    display: flex;
    align-items: center;
    width: 100%;
    /* margin-top: 4px; */
}

.player__control--range span {
    margin-left: 8px;
    margin-right: 8px;
}

.player__control--range input {
    width: 100%;
}

#range--progress {
    height: 2px;
}

#range--progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--primary-color);
    cursor: pointer;
}

.sound--progress {
    height: 4px;
}


.player__feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    padding-right: 12px;
    height: 100%;
    font-size: 20px;
}

.player__feature i:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.feature--download {
    color: var(--font-color);
}

.feature--sound {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.feature--playlist i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--bg-sidebar-color);
    border-radius: 4px;
    font-size: 16px;
}

.feature--open__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
}

.player--mobile {
    background-color: #0d1932;
    /* transform : translate(0, 0); */
}

.player__track--mobile {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

@media screen and (max-width: 992px) {
    .player__feature--open {
        display: flex;
        height: 80px;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
    }

    .player__info img {
        display: none;
    }

    .player__track {
        width: 150px;
    }

    .player__feature {
        column-gap: 8px;
    }

    .player__feature--space {
        padding-left: 0px;
    }

    .control--button:hover {
        background-color: #0d1932;
    }

}

@media screen and (max-width: 768px) {
    .player__info i, .player__track, .player__feature--space {
        display: none;
    }

    .player__info img {
        display: block;
    }

    .player__info--space {
        padding-right: 0;
    }

    .player__info {
        justify-content: center;
    }

    .player__open--button {
        padding-left: 0;
    }
}

@media screen and (max-width: 576px) {
    .player__info--space {
        display: none;
    }

    .player__track {
        display: flex;
    }
}
/*==============================
    7. PLaylist
==============================*/
#playlist  {
    position: fixed;
    top: 0;
    right: -20%;
    width: 20%;
    height: 100%;
    padding-left: 12px;
    padding-right: 8px;
    padding-bottom: 80px;
    z-index: 20;
    overflow: scroll;
    background-color: var(--bg-playlist-color);
    color: var(--font-color);
    transition: transform 0.5s;
}

.playlist--show {
    display: block;
}

@keyframes playlist {
    from {
        right: -20%
    }
    to {
        right: 0;
    }
}

#playlist::-webkit-scrollbar  {
    width: 4px;
    background-color: var(--bg-playlist-color);
}
#playlist::-webkit-scrollbar-thumb  {
    width: 4px;
    border-radius: 4px;
    background-color: #607ec2;
}

.playlist__title {
    margin-top: 12px;
    width: 100%;
    text-align: center;
    background-color: #607ec2;
    border-radius: 12px;
}

.playlist__section--title {
    display: block;
    margin-top: 8px;
    margin-bottom: 4px;
}

.playlist__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
}

.playlist__item:hover {
    cursor: pointer;
    background-color: #607ec2;
}

.playlist__item--active {
    background-color: var(--primary-color);
}

.playlist__item img {
    width: 16%;
    border-radius: 4px;
}

.playlist__item--info {
    display: flex;
    height: 100%;
}

.play__track--info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    width: 180px;
    height: 40px;
}

.play__track--info span {
    display: block;
    line-height: 20px;
    white-space: nowrap; 
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.playlist--info {
    display: block;
    margin-top: 12px;
    margin-bottom: 12px;
}
@media screen and (max-width: 992px) {
    #playlist {
        width: 80%;
        right: -80%;
    }
}

@media screen and (max-width: 992px) {
    #playlist {
        padding-bottom: 196px;
    }
}
/*==============================
    7. Main
==============================*/
#main {
    position: relative;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    left: 16.6666%;
    width: 83.3333%;
    padding-left: 8px;
    padding-right: 8px;
}

@media screen and (max-width: 992px) {
    #main  {
        left: 10%;
        width: 90%;
    }
}
/*==============================
    8. Slider
==============================*/
#slider  {
    justify-content: center;
}

.slider__content--list {
    border-radius: 10px;
}

.slider__content--list img {
    filter: brightness(70%);
}
/*==============================
    9. Music
==============================*/
.music__title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--font-color);
}

.music__item {
    display: block;
    position: relative;
    background-color: #263762;
    border-radius: 4px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.music__item:hover {
    background-color: #4a577d;
}

.item--img {
    display: inline-block;
}

.item--img:hover {
    cursor: pointer;
    color: white;
}

.music__item--btn {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    position: absolute;
    top: 30%;
    width: 100%;
    /* height: 100%; */
}

.music--btn {
    color: white;
    font-size: 36px;
}

.music--btn:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.music__item--img {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.music__item--img img {
    width: 88%;
    margin: auto;
    border-radius: 10px;
}

.music__item--info {
    padding-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: var(--font-color);
}


.music__item--info a {
    font-size: 16px;
    color: var(--font-color);
}

.music__item--info a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.music__item--info span a {
    color: #cbcccf;
}

@media screen and (max-width: 992px) {
    #slider > div {
        width: 100%;
    }
}
/*==============================
    10. Event
==============================*/
.events__title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--font-color);
}

.events__item {
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    border-radius: 12px;
    color: var(--font-color);
}

.events__item:hover {
    opacity: 0.6;
}

.events__item--img {
    width: 100%;
}

.events__item--img img {
    width: 100%;
    border-radius: 12px;
    filter: brightness(60%);
}

.events__item--info {
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
}

.events__item h5 {
    margin-bottom: 0px;
    color: white;
    font-size: 24px;
}

.events__item h4 {
    margin-top: 8px;
    margin-bottom: 0px;
    color: white;
    font-size: 32px;
}
/*==============================
    11. Artists
==============================*/
.artists__title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--font-color);
}

.artists__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    border-radius: 10px;
}

.artists__item:hover {
    background-color:  #4a577d;
}

.artists__item--img {
    display: flex;
    justify-content: center;
}

.artists__item--img a {
    display: flex;
    justify-content: center;
}

.artists__item--img img {
    width: 140px;
    border-radius: 50%;
}

.artists__item--info {
    margin-top: 8px;
    padding-left: 4px;
}

.artists__item--info h4 {
    margin-bottom: 0;
    text-align: center;
}

.artists__item--info a {
    font-size: 16px;
    color: var(--font-color);
    word-break: break-word;
}

.artists__item--info a:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 576px) {
    .artists__item--img img {
        width: 80px;
    }
}

/*==============================
    12. Top 5
==============================*/

.top__title h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--font-color);
}

.top__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-right: 8px;
    color: var(--font-color);
    background-color: #263762;
    border-radius: 10px;
}

.top__item:hover {
    background-color: #4a577d;
}

.top__item > span {
    display: block;
    text-align: center;
    width: 10%;
    font-size: 20px;
}

.top__item--info {
    display: flex;
    width: 80%;
    align-items: center;
}

.top__item--img {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top--btn {
    /* display: flex; */
    position: absolute;
    top: 15px;
    left: 15px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
}

.top--btn:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.top__item--img img {
    width: 60px;
    border-radius: 12px;
    margin-right: 16px;
}

.top__track--info {
    display: flex;
    width: 75%;
    flex-direction: column;
    margin-right: 16%;
}

.top__track--info a {
    color: var(--font-color);
}

.top__track--info a:hover {
    color: var(--primary-color);
}

@media screen and (max-width: 576px) {
    .top__item--img img {
        width: 40px;
    } 
}

/*==============================
    12. News
==============================*/
.news__title h2 {
    margin-top: 20px;
    margin-bottom: 12px;
    color: var(--font-color);
}

.news__item {
    margin-bottom: 32px;
}

.news__item a:hover {
    cursor: pointer;
    filter: brightness(120%);
    color: var(--primary-color);
}

.news__item--img img {
    width: 100%;
    filter: brightness(70%);
    border-left: 1px solid #64646e;
    border-right: 1px solid #64646e;
    border-top: 1px solid #64646e;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.news__item--info  {
    display: flex;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100px;
    background-color: var(--bg-sidebar-color);
    border-left: 1px solid #64646e;
    border-right: 1px solid #64646e;
    border-bottom: 1px solid #64646e;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    font-size: 20px;
    color: var(--font-color);
}
/*==============================
    13. Partner
==============================*/
#partner {
    padding-bottom: 32px;
}

.partner__title h3 {
    margin-top: 20px;
    margin-bottom: 12px;
    text-align: center;
    color: var(--font-color);
}

.partner__list {
    display: flex;
    align-items: center;
}

.partner__list--left {
    justify-content: flex-end;
}

.partner__list--right {
    justify-content: flex-start;
}

.partner__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    height: 80px;
    background-color: white;
    border-radius: 12px;
}

.partner__item img {
    width: 80%;
}
/*==============================
    14. Footer
==============================*/
#footer {
    position: relative;
    left: 16.6666%;
    width: 83.3333%;
    /* padding-left: 4%; */
    padding-bottom: 80px;
    color: var(--font-color);
    /* background-color: var(--bg-footer-color); */
}

.footer__brand {
    display: flex;
    padding-left: 20%;
    flex-direction: column;
}

.brand--info a:hover {
    color: var(--primary-color);
}

.brand--icon img {
    width: 160px;
}

.brand--mail, .brand--phone {
    display: flex;
    align-items: center;
    color: var(--font-color);
    margin-top: 12px;
    margin-bottom: 12px;
}

.brand--mail i, .brand--phone i {
    margin-right: 12px;
}

.brand--mail p, .brand--phone p {
    margin-bottom: 0;
}

.footer__more {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 24px;
}

.footer__more a {
    margin-top: 6px;
    margin-bottom: 6px;
    color: var(--font-color);
}

.footer__more a:hover {
    color: var(--primary-color);
}

.footer__copyright {
    display: flex;
    width: 100%;
    padding-top: 16px;
    justify-content: center;
    border-top: 1px solid #64646e;
    font-size: 14px;
}

.footer__copyright i {
    margin-right: 12px;
}

@media screen and (max-width: 992px) {
    #footer {
        left: 10%;
        width: 90%;
    }

    .footer__brand {
        align-items: center;
    }
}